@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.dot {
  transition: transform 0.2s;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #7c3aed;
}

input:checked ~ div:not(.dot) {
  background-color: #7c3aed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
